<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.baijiayun.videoplayer.ui">

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activity.PBRoomActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"/>
        <activity
            android:name=".activity.VideoPlayActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:theme="@style/FullScreenTheme" />
        <activity android:name=".activity.BaseActivity"/>
    </application>

</manifest>