<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_employees_world">

    <application android:theme="@style/BaseAppTheme">
        <activity android:name=".ui.GuideActivity"/>
        <activity android:name=".ui.PostsDetailActivity"/>
        <activity
            android:name=".ui.home.CommunityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>

    </application>

</manifest>