<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.module_employees_world">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application android:theme="@style/BaseAppTheme">
        <activity android:name=".GuideH5Activity"></activity>
        <activity android:name=".ui.PictuirePreviewActivity" />
        <activity android:name=".ui.search.SearchActivity" />
        <activity android:name=".ui.GuideActivity" /> <!-- <activity android:name=".ui.home.EmplayeesActivity" /> -->
        <activity
            android:name=".ui.PostsDetailActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CommentDialogActivity"
            android:theme="@style/BaseAppTheme.Transparent"
            android:windowSoftInputMode="adjustPan|stateVisible" />
        <activity
            android:name=".ui.home.CommunityActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.CommentDetailctivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.topic.TopicEditActivity"
            android:configChanges="orientation|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".ui.topic.NTopicEditActivity"
            android:configChanges="orientation|keyboardHidden|locale|layoutDirection"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ui.topic.LocalAlbumDetailActicity"
            android:configChanges="orientation|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.topic.SelectGroupActivity"
            android:configChanges="orientation|keyboardHidden|locale|layoutDirection"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.group.GroupDetailsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.group.MyItemActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
    </application>

</manifest>