<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jungan.www.module_playvideo" >
    <application
        >
        <activity android:name=".ui.PlayVodActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:hardwareAccelerated="false"
            />
    </application>
</manifest>
