<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jungan.www.module_blackplay" >
    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".activity.PBRoomActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:hardwareAccelerated="false"
            android:theme="@style/PBAppTheme">

        </activity>
    </application>
</manifest>
